@{
    ViewData["Title"] = "WebLectura";
}

 <div class="text-center">
    <img src="https://wallpaperaccess.com/full/1884665.jpg" style="width: -webkit-fill-available;"">


    <div id="about" style="margin-top:150px">
        <h1>Acerca de este sitio</h1>

        <div class="text-left">
            <p>WebLectura es una página creada para la materia Programación IV - Parcial 2 - Actividad 1. En la misma, se puede visualizar una barra de navegación que contiene cuatro opciones: "Acerca de este sitio", "Revistas On Line", "Libros On Line" y "Blogs".<p>
            <p>Según qué opción se elija del menú, se despliegan enlaces a los sitios webs correspondientes de cada tema.</p>
            <br/>
            <p>En la parte inferior del sitio web se puede apreciar un footer el cual contiene el mensaje de Copyright, y unos botones para enviar un correo o dirigirse a mi cuenta de GitHub.</p>
        </div>
    </div>
</div>
